@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap');

/* Основные стили */

:root {
    --fire-color: #DB5F1F;
    --main-color: #FAF5F0;
}

body {
    margin: 0;
    font-family: "Alegreya Sans", sans-serif;
    background-color: white;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fire-color);
    color: white;
    font-weight: 500;
    border-radius: 30px;
    width: 115px;
    height: 33px;
}

.link {
    padding: 0.5rem;
    position: relative;
}

.link::before {
    bottom: 0;
    left: 0;
}
  
.link:hover::before {
    transform: scaleX(1);
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: var(--fire-color);
    transform: scaleX(0);
    transition: all 0.6s ease;
}

/* Шапка */

.header {
    background-color: var(--main-color);
}

.header::before {
    content: "";
    top: 83px;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #999999;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}


.header__menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 25px;
    font-weight: 500;
    font-size: 20px;
}