@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap');

/* Основные стили */

:root {
    --fire-color: #DB5F1F;
    --main-color: #FAF5F0;
}

body {
    margin: 0;
    font-family: "Alegreya Sans", sans-serif;
    background-color: white;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3 {
    font-size: 30px;
}

p {
   margin: 0;
   font-size: 22px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fire-color);
    border: 1px var(--fire-color) solid;
    color: white;
    font-weight: 500;
    border-radius: 30px;
    width: 122px;
    height: 33px;
    transition: all 0.2s ease;
}

.btn--big {
    font-size: 22px;
    border-radius: 32px;
    width: 235px;
    height: 64px;
}

.btn:hover {
    background-color: white;
    color: black;
    transition: all 0.2s ease;
}

.link {
    padding: 0.5rem;
    position: relative;
}

.link::before {
    bottom: 0;
    left: 0;
}
  
.link:hover::before {
    transform: scaleX(1);
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: var(--fire-color);
    transform: scaleX(0);
    transition: all 0.6s ease;
}

/* Шапка */

.header {
    background-color: var(--main-color);
}

.header::before {
    content: "";
    top: 83px;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #999999;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo__text {
    font-size: 16px;
}

.header__menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 25px;
    font-weight: 500;
    font-size: 20px;
}

/* Основная контент */

.main__welcome {
    background-color: var(--main-color);
}

.main__welcome .container {
    display: flex;
    align-items: center;
}

.welcome__text-wrapper {

}

.welcome__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 45px;
    color: #2e2425;
}

.welcome__img {
    mix-blend-mode: multiply;
}

/* Секция с услугами */

.main__services {

}

.services__helping, .services__multiply, .services__setting-up, .services__mailing {
    display: flex;
    align-items: center;
    margin: 0 40px;
    width: 1196px;
    height: 443px;
}

.services__text-wrapper {
    width: 620px;
    height: 120px;
}

/* Секция с отправкой заявки */

.main__application {
    margin-top: 35px;
}

.main__application .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.application__text {
    margin-bottom: 65px;
    width: 786px;
    height: 108px;
    font-size: 45px;
    text-align: center;
}

/* Секция с компаниями */

.main__companies {
    margin-top: 135px;
}

.main__companies .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companies__text {
    margin-bottom: 100px;
    font-size: 45px;
    text-align: center;
}

.companies__logos {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    gap: 50px;
}

/* Секция с преимуществами */

.main__why-us {
    margin-top: 170px;
}

.main__why-us .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-us__text {
    font-size: 45px;
}

.why-us__benefits {
    display: flex;
    gap: 45px;
}

.why-us__benefits h3 {
    margin-bottom: 15px;
}

.why-us__benefits ul{
    list-style: disc;
}

.why-us__benefits li {
    margin: 0 0 30px 0;
    font-size: 22px;
}

.why-us__benefits li::marker{
    color: var(--fire-color);
}

.why-us__benefits img {
    max-width: 408px;
    max-height: 388px;
}
